html{
    overflow-x: hidden;
}
.t-content-b{
    display: flex !important;
    justify-content: center;
    align-items: center
}
.t-content-b{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.t-card-b{
    width: 480px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
}
.t-card-b::before{
    content: '';
    position: absolute;
    bottom: 115px;
    left: 50px;
    width: 50px;
    height: 60px;
    background: #fff;
    clip-path: polygon(0 0, 0% 100%, 89% 0);
}
.t-card-body-b{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 30px 35px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    background: #fff;
    border-radius: 15px;
    font-size: 14px;
    text-align: left;
    line-height: 25px;
}
/* .t-card1-b{
    box-shadow: -58px -2px 100px 48px rgba(254, 247, 180, 0.761);
    z-index: 9999;
}
.t-card2-b{
    box-shadow: -2px 0px 100px 69px rgba(227, 203, 255, 0.688);
}
.t-card3-b{
    box-shadow: 100px -12px 100px 48px rgba(254, 247, 180, 0.761);
} */
.t-star-b{
    padding-bottom: 15px;
}
.t-owner-b{
    width: 350px;
    padding: 15px 35px;
    background: #fff;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 35px;
    margin-bottom: 15px;
    border-radius: 15px;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    z-index: 9999;
    /* box-shadow: 0 5px 25px rgba(254, 247, 180, 0.761); */
}
.t-owner-b:nth-child(even){
    /* box-shadow: 0 5px 25px rgba(227, 203, 255, 0.688); */
}
.t-profile-b img{
    width: 60px;
    border-radius: 100%;
}
.t-profile-text-b{
    margin-left: 15px;
}
.t-profile-text-b b{
    font-size: 15px;
}
.t-profile-text-b p{
    font-size: 13px;
}
@media (max-width: 360px){
    .t-card-b{
        width: 320px;
    }
    .t-owner-b{
        width: 290px;
    }
}